<meta charset="utf-8">
   <meta name="generator" content="GitLab Pages">
   <title>Plain HTML site using GitLab Pages</title>
   <link rel="stylesheet" href="style.css">
 

 
 </head>

   <h1>404 Page Not Found</h1>
   <p>Done for GeekBrains CI/CD course, lesson 1</p>

 </body>
</html>
